<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" asp-href-include="/lib/bootstrap/dist/css/*.min.css" />
    <link rel="stylesheet" asp-href-include="/lib/fontawesome/web-fonts-with-css/css/*.css" />
    <title>Adminka</title>
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>
    <div class="bg-dark p-2 row">
        <div class="col">
            <h4 class="text-white">Admin Console</h4>
        </div>
        <div class="col-1">
            <a class="btn btn-sm btn-primary" asp-action="Logout" asp-controller="Account">Logout</a>
        </div>
    </div>

    <div class="row m-3">
        <div class="col-12">
            @RenderBody()
        </div>
    </div>
</body>
</html>