@model Discipline
@{
    ViewBag.Title = "Edit Discipline";
    Layout = "_AdminLayout";
}

<h1>Create / Edit Discipline</h1>
<form asp-action="EditDiscipline" method="post">
    <input type="hidden" asp-for="DisciplineId" />
    <div class="form-group">
        <label asp-for="Name"></label>
        <div><span asp-validation-for="Name" class="text-danger"></span></div>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Save</button>
        <a asp-action="Disciplines" class="btn btn-secondary">Cancel</a>
    </div>
</form>