@{
    Layout = "_AdminLayout";
}

<div class="row">
    <a asp-action="Users" class="btn btn-lg btn-primary m-2">Users</a>
    <a asp-action="Groups" class="btn btn-lg btn-primary m-2">Groups</a>
    <a asp-action="Disciplines" class="btn btn-lg btn-primary m-2">Disciplines</a>
    <a asp-action="Teachers" class="btn btn-lg btn-primary m-2">Teachers</a>
    <a asp-action="Timetables" class="btn btn-lg btn-primary m-2">Timetables</a>
    <a asp-controller="Home" asp-action="Index" class="btn btn-lg btn-success m-2">Timetable Of Classes</a>
</div>